# https://editorconfig.org
root = true

# generic rules
[*]
indent_style = space
indent_size = 4

[*.yml]
indent_size = 2

[{Gemfile, Fastfile}]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
