packages: [
  "apex-syntax"
  "apex-ui"
  "atom-beautify"
  "atom-ide-ui"
  "audio"
  "auto-detect-indentation"
  "autocomplete-racer"
  "autocomplete-swift"
  "build-cargo"
  "busy-signal"
  "editorconfig"
  "ex-mode"
  "file-icons"
  "genesis-syntax"
  "genesis-ui"
  "gruvbox-plus-syntax"
  "highlight-selected"
  "hyperclick"
  "hyperlink-hyperclick"
  "intentions"
  "language-apache"
  "language-cmake"
  "language-fish-shell"
  "language-ini"
  "language-latex"
  "language-lua"
  "language-rust"
  "language-swift"
  "languageserver-rust"
  "latex"
  "linter"
  "linter-clang"
  "linter-lua"
  "linter-rust"
  "linter-swiftc"
  "linter-swiftlint"
  "linter-ui-default"
  "markdown-pdf"
  "merge-conflicts"
  "minimap"
  "minimap-linter"
  "package-sync"
  "pdf-view"
  "pretty-json"
  "pristine-ui"
  "racer"
  "rustfmt"
  "scroll-through-time"
  "seti-syntax"
  "seti-ui"
  "single-click-open"
  "sort-lines"
  "symbols-tree-view"
  "tool-bar"
  "tree-view-open-files"
  "vim-mode"
  "you-complete-me"
]
